<!DOCTYPE html>
<html>
<head>
  <title>yelp Challenge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag 'jquery' %>
  <!-- Materialize -->
  <%= stylesheet_link_tag 'materialize' %>
  <%= javascript_include_tag 'materialize' %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<div id="top"></div>
<header class="center" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="row">
        <%= image_tag('logos/yelp-me-out.png', :size => "500x128", :class => "unselectable") %>
    </div>
</header>

<%= yield %>

<footer class="container" style="margin-top: 100px;">
    <div class="row" style="border-top: 1px solid #b71c1c; border-bottom: 1px solid #b71c1c; padding: 10px">
        <div class="col s3 center"></div>
        <div class="col s2 center">
            <%= link_to "About", :about %>
        </div>
        <div class="col s2 center">
            <%= link_to "Find Eats", root_path %>
        </div>
        <div class="col s2 center">
            <a href="mailto:fliao@andrew.cmu.edu">Contact Me</a>
        </div>
        <div class="col s3 center"></div>
    </div>
    <div class="center">
        <small>
            I have nothing to do with Yelp.
        </small>
    </div>
</footer>
</body>
</html>
